body {
  margin: 0%;
}

.button-border {
  outline: none;
  align-items: center;
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.73);
  box-shadow: 0px 9px 8px -1px rgba(212, 212, 212, 1);
}

.header__menu {
  width: 270px;
  display: flex;
  flex-direction: row;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between-n {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__menu--logo {
  transition-property: margin-left;
  transition-duration: 0.5s;
  transition-property: margin-right;
  transition-duration: 0.5s;
  margin-left: 30px;
  margin-right: 30px;
  width: 145px;
  height: 33px;
}
.header__menu--mini-logo {
  transition-property: margin-left;
  transition-duration: 1s;
  transition-property: margin-right;
  margin-left: 20px;
  margin-right: 0px;
  width: 29px;
  height: 33px;
}

.header__menu--svg {
  transition-property: margin-right;
  transition-duration: 0.5s;
  transform: rotate(0deg);
  transition: transform 0.5s;
  margin-right: 0px;
}

.header__menu--mini-svg {
  transition-property: margin-left;
  transition-duration: 0.5s;
  transform: rotate(90deg);
  transition: transform 0.5s;
  margin-right: 60px;
}

.header__menu--user-logo {
  margin-right: 30px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: linear-gradient(
    310deg,
    rgba(86, 78, 215, 1) 0%,
    rgba(158, 198, 255, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu--info {
  margin-left: 40px;
  margin-right: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.sidebar {
  z-index: 1;
  top: 70px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  border-right: 1px solid rgba(235, 235, 235, 0.73);
}

.sidebar__close {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-property: width;
  transition-duration: 0.5s;
  width: 65px;
  height: 60px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.73);
  &:hover {
    background: rgb(238, 238, 238);
  }
}

.sidebar__open {
  align-items: center;
  display: flex;
  flex-direction: row;
  transition-property: width;
  transition-duration: 0.5s;
  width: 270px;
  height: 60px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.73);
  &:hover {
    background: rgb(238, 238, 238);
  }
}

.sidebar__open--logo {
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 30px;
  margin-right: 15px;
}
.sidebar__close--logo {
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 20px;
  margin-right: 15px;
}

.sidebar__open--name {
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 1;
  white-space: nowrap;
}
.sidebar__close--name {
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 0;
  white-space: nowrap;
}

.sidebar__menu {
  height: 60px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.73);
}
.sidebar__menu--open {
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 30px;
}
.sidebar__menu--close {
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 10px;
}

.page {
  z-index: 0;
  top: 70px;
  position: relative;
  padding: 30px;
  background: #e6ebed;
  height: 100vh;
  width: auto;
}

.page__open {
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 270px;
  background: white;
  border-radius: 7px;
  height: auto;
  -webkit-box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.37); 
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.37);
}

.page__close {
  transition-property: margin-left;
  transition-duration: 0.5s;
  margin-left: 65px;
  background: white;
  border-radius: 7px;
  height: auto;
  -webkit-box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.37); 
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.37);
}

// @media screen and (min-width: 1150px) {
//   .sidebar {
//     top: 70px;
//     position: fixed;
//     transition-property: width;
//     transition-duration: 0.5s;
//     display: flex;
//     flex-direction: column;
//     width: 270px;
//     height: 100vh;
//     background: white;
//     border-right: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .sidebar__close {
//     top: 70px;
//     position: fixed;
//     transition-property: width;
//     transition-duration: 0.5s;
//     display: flex;
//     flex-direction: column;
//     width: 65px;
//     height: 100vh;
//     background: white;
//     border-right: 1px solid rgba(235, 235, 235, 0.73);
//   }
//   .page {
//     z-index: 0;
//     top: 70px;
//     position: relative;
//     padding: 30px;
//   }

//   .page__close {
//     transition-property: margin-left;
//     transition-duration: 0.5s;
//     margin-left: 270px;
//     height: 100vh;
//     background: white;
//     border-radius: 7px;
//     border: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .page__open {
//     transition-property: margin-left;
//     transition-duration: 0.5s;
//     margin-left: 60px;
//     height: 100vh;
//     background: white;
//     border-radius: 7px;
//     border: 1px solid rgba(235, 235, 235, 0.73);
//   }
// }
// @media screen and (max-width: 1150px) {
//   .sidebar {
//     top: 70px;
//     position: fixed;
//     transition-property: width;
//     transition-duration: 0.5s;
//     display: flex;
//     flex-direction: column;
//     width: 65px;
//     height: 100vh;
//     background: white;
//     border-right: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .sidebar__close {
//     top: 70px;
//     position: fixed;
//     transition-property: width;
//     transition-duration: 0.5s;
//     display: flex;
//     flex-direction: column;
//     width: 270px;
//     height: 100vh;
//     background: white;
//     border-right: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .page {
//     z-index: 0;
//     top: 70px;
//     position: relative;
//     padding: 30px;
//   }

//   .page__close {
//     margin-left: 60px;
//     height: 100vh;
//     background: white;
//     border-radius: 7px;
//     border: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .page__open {
//     margin-left: 60px;
//     height: 100vh;
//     background: white;
//     border-radius: 7px;
//     border: 1px solid rgba(235, 235, 235, 0.73);
//   }
// }

// @media screen and (min-width: 2500px) {
//   .sidebar {
//     top: 70px;
//     position: fixed;
//     transition-property: width;
//     transition-duration: 0.5s;
//     display: flex;
//     flex-direction: column;
//     width: 270px;
//     height: 100vh;
//     background: white;
//     border-right: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .sidebar__close {
//     top: 70px;
//     position: fixed;
//     transition-property: width;
//     transition-duration: 0.5s;
//     display: flex;
//     flex-direction: column;
//     width: 65px;
//     height: 100vh;
//     background: white;
//     border-right: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .page {
//     display: flex;
//     justify-content: center;
//     z-index: 0;
//     top: 70px;
//     position: relative;
//     padding: 30px;
//   }

//   .page__close {
//     width: 70vw;
//     height: 100vh;
//     background: white;
//     border-radius: 7px;
//     border: 1px solid rgba(235, 235, 235, 0.73);
//   }

//   .page__open {
//     width: 70vw;
//     height: 100vh;
//     background: white;
//     border-radius: 7px;
//     border: 1px solid rgba(235, 235, 235, 0.73);
//   }
// }
