body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.test {
  background: green;
  width: 30vw;
  height: 30vh;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}