@font-face {
  font-family: "Open-Sans";
  font-weight: 600;
  src: url("./public/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "Open-Sans";
  font-weight: 700;
  src: url("./public/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open-Sans";
  font-weight: 400;
  src: url("./public/OpenSans-Regular.ttf");
}
