@font-face {
  font-family: "Open-Sans";
  font-weight: 600;
  src: url("./public/open_sans_semibold.ttf");
}
@font-face {
  font-family: "Open-Sans";
  font-weight: 700;
  src: url("./public/open_sans_bold.ttf");
}
@font-face {
  font-family: "Open-Sans";
  font-weight: 400;
  src: url("./public/open_sans.ttf");
}
