span {
  font-family: "Semibold";
  font-size: 13px;
}
body {
  margin: 0%;
  cursor: default;
}

h5 {
  font-family: "Semibold";
  font-size: 14px;
  color: rgb(190, 190, 190);
}

.select .react-select__control {
  font-family: "Semibold";
  font-size: 13px;
  background-color: white;
}
.select .react-select__control--is-focused {
  background-color: rgb(248, 248, 248); 
  border-color: rgb(184, 218, 241);
  box-shadow: 0px 0px 3px 0px rgba(66, 173, 235, 0.75);
}

.select .react-select__menu {
  background-color: white;
  margin: 0%;
  margin-top: 10px;
}
.select .react-select__option {
  height: 35px;
  font-family: "Semibold";
  font-size: 13px;
  padding-left: 30px;
  color: black;
  background-color: white;
}
.select .react-select__option--is-focused {
  height: 35px;
  font-family: "Semibold";
  font-size: 13px;
  padding-left: 30px;
  color: black;
  background-color:  rgb(248, 248, 248);
}

.select .react-select__group-heading {
  font-family: "Semibold";
  font-size: 13px;
  padding-left: 15px;
  height: 30px;
  color: black;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #F3F5F8;
}


.select .react-select__menu-list{
  padding-top: 0%;
  padding-bottom: 0%;
}
.select .css-18ng2q5-group {
  margin-bottom: 0%;
}

.select .css-syji7d-Group {
  padding-top: 0%;
  padding-bottom: 0%;
}

.font-page {
  font-family: "Semibold";
  font-size: 14px;
}

.title {
  height: 50px;
  margin-left: 30px;
  padding-bottom: 10px;
}

.title-on {
  height: 50px;
  margin-left: 30px;
  color: rgb(156, 156, 156);
}

.initialnav {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__size {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}
.textarea {
  height: 100px;
  margin-bottom: 30px;
}
.page__input {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 40%;
}

input {
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgba(214, 214, 214, 0.73);
  outline: none;
  padding-left: 15px;
}
.input {
  height: 40px;
  border-radius: 7px;
  border: 1px solid rgba(214, 214, 214, 0.73);
  outline: none;
  padding-left: 15px;
}

textarea {
  border-radius: 7px;
  border: 1px solid rgba(214, 214, 214, 0.73);
  outline: none;
  padding: 15px;
  resize: none;
}

.page__atribute {
  margin-top: 30px;
  background: #f8fafb;
  margin-left: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 40%;
  border-radius: 7px;
  border: 1px solid #ecf8ff;
}

.page__name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-border {
  outline: none;
}

.button-task {
  display: flex;
  flex-direction: row;
  height: 45px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.73);
  align-items: center;
  margin-bottom: 20px;
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.73);
  box-shadow: 0px 9px 8px -1px rgba(212, 212, 212, 1);
}

.header__menu {
  width: 270px;
  display: flex;
  flex-direction: row;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between-n {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__menu--user-logo {
  margin-right: 30px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: linear-gradient(
    310deg,
    rgba(86, 78, 215, 1) 0%,
    rgba(158, 198, 255, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu--info {
  margin-left: 40px;
  margin-right: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
}


