@media screen and (max-width: 750px) {
  .header {
    display: none;
  }

  .import{
    display: none;
  }
  .sidebar {
    z-index: 1;
    bottom: 0px;
    position: fixed;
    background: white;
    height: 10vh;
    width: 100vw;
    border-top: 1px solid rgba(235, 235, 235, 0.73);
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 90vh;
  }

  .onlyMobile {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    bottom: 0%;
  }

  .sidebar__open {
    flex-direction: row;
    border-bottom: none;
    width: auto;
    height: 8vh;
  }
  .close {
    flex-direction: row;
    border-bottom: none;
    width: auto;
    height: 8vh;
  }
  .sidebar__open--logo {
    color: black;
    text-decoration: none; 
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .sidebar__open--name {
    display: none;
  }
 .sidebar__close--name{
   display: none;
 }
  .sidebar__menu {
    display: none;
  }

  .sidebar__account-open {
    display: none;
  }

  .sidebar__account-close {
    display: none;
  }

  .sidebar__account-many {
    display: none;
  }

  .sidebar__account-data {
    display: none;
  }

  .sidebar__account-many--item {
    display: none;
  }
  
  .select-menu {
    background-color: #f6f7f9;
    transition: background-color 0.5s;
    border-left: 0px;
    border-bottom: 5px solid #8695ac;
    :hover {
      transition: background-color 0.5s;
      background-color: white;
    }
  }
  
  .not-selected {
    border-left: 0px;
    border-bottom: 5px solid white;
  }
  .page {
    z-index: 0;
    position: relative;
    background: #F8FAFB;
    height: 100vh;
    width: auto;
    top: auto;
    padding: 0px;
  }

  .page__open {
    background: white;
    height: auto;
    margin-left: 0%;
  }

  .page__close {
    background: white;
    height: auto;
    margin-left: 0%;
  }

  .tasks-open {
    display: none;
  }

  .tasks-close {
    display: none;
  }

  .page__atribute {
    margin-top: 30px;
    background: #f8fafb;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0%;
    width: auto;
    border-radius: 0px;
    border: 1px solid #ecf8ff;
  }

  .page__input {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }

  
.button-task {
  display: flex;
  flex-direction: row;
  height: 45px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.73);
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 0%;
  margin-right: 30px;
}
.title-on {
  margin-left: 0%;
  margin-right: 30px;
}

}
