@media screen and (max-width: 1150px) {
  .header__menu--logo {
    overflow: hidden;
    transition-property: margin-left;
    transition-duration: 0.4s;
    margin-right: 20px;
    margin-left: 20px;
    width: 29px;
    height: 33px;
  }
  .header__menu--mini-logo {
    transition-property: margin-left;
    transition-duration: 0.4s;
    margin-left: 30px;
    margin-right: 70px;
    width: 145px;
    height: 33px;
  }

  .header__menu--svg {
    transform: translateX(-180px) rotate(-90deg);
    transition: transform 0.4s;
    width: 21px;
    height: 14px;
  }

  .header__menu--mini-svg {
    transform: rotate(0deg);
    transition: transform 0.4s;
    width: 21px;
    height: 14px;
  }

  .sidebar {
    z-index: 1;
    top: 70px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: white;
    height: 100vh;
    border-right: 1px solid rgba(235, 235, 235, 0.73);
  }

  .sidebar__close {
    color: black;
    text-decoration: none; 
    align-items: center;
    display: flex;
    flex-direction: row;
    transition-property: width;
    transition-duration: 0.4s;
    width: 270px;
    height: 50px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.73);
  }

  .sidebar__open {
    color: black;
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-property: width;
    transition-duration: 0.4s;
    width: 65px;
    height: 50px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.73);
  }

  .sidebar__open--logo {
    color: black;
    text-decoration: none; 
    transition-property: margin-left;
    transition-duration: 0.4s;
    margin-left: 15px;
    margin-right: 15px;
  }
  .sidebar__close--logo {
    color: black;
    text-decoration: none; 
    transition-property: margin-left;
    transition-duration: 0.4s;
    margin-left: 25px;
    margin-right: 15px;
  }

  .sidebar__open--name {
    color: black;
    text-decoration: none; 
    transition-property: opacity;
    transition-duration: 0.1s;
    opacity: 0;
    white-space: nowrap;
  }
  .sidebar__close--name {
    color: black;
    text-decoration: none; 
    transition-property: opacity;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
    opacity: 1;
    white-space: nowrap;
  }

  .sidebar__menu {
    height: 60px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.73);
  }
  .sidebar__menu--open {
    margin-top: 30px;
    transition-property: margin-left;
    transition-duration: 0.4s;
    margin-left: 15px;
  }
  .sidebar__menu--close {
    margin-top: 30px;
    transition-property: margin-left;
    transition-duration: 0.4s;
    margin-left: 30px;
  }

  .sidebar__account-open {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65px;
    height: 50px;
    align-items: center;
    opacity: 0;
    bottom: 70px;
  }

  .sidebar__account-close {
    position: absolute;
    transition-property: opacity;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    opacity: 1;
    bottom: 70px;
  }

  .sidebar__account-many {
    margin: 0%;
  }

  .sidebar__account-data {
    margin-top: 5px;
    color: rgb(184, 184, 184);
  }

  .sidebar__account-many--item {
    margin: 5px;
  }

  .page {
    padding-bottom: 15px;
    z-index: 0;
    top: 70px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    width: auto;
    height: 100%;
  }

  .page__open {
    background: white;
    margin-left: 65px;
    border-radius: 7px;
    height: auto;
    -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.37);
  }

  .page__close {
    margin-left: 65px;
    background: white;
    border-radius: 7px;
    height: auto;
    -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.37);
  }

  .tasks-open {
    position: absolute;
    opacity: 0;
    height: 0%;
  }

  .tasks-close {
    position: absolute;
    left: 230px;
    top:125px;
    transition-property: opacity;
    transition-delay: 0.4s;
    transition-duration: 0.4s;
    width: 25px;
    height: 25px;
    background: #f1f3f5;
    color: #586371;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    &:hover {
      background: white;
      color: #f1f3f5;
    }
    opacity: 1;
  }

  .page__atribute {
    margin-top: 30px;
    background: #f8fafb;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    border-radius: 7px;
    border: 1px solid #ecf8ff;
  }

  .button-task {
    display: flex;
    flex-direction: row;
    height: 45px;
    border-bottom: 1px solid rgba(214, 214, 214, 0.73);
    align-items: center;
    justify-content: center;
  }
  .title {
    margin-left: 15vw;
    margin-right: 15vw;
    white-space: nowrap;
  }
  .title-on {
    margin-left: 15vw;
    margin-right: 15vw;
    white-space: nowrap;
  }

  .page__input {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: auto;
    margin-right: 15px;
  }
  .page__input-small {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: auto;
    margin-right: 15px;
  }
  .canvas {
    display: none;
  }
  .canvas-on {
    display: none;
  }
}
