.header {
  height: 54px;
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;
}

.header_nav-container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.header_nav {
  font-family: 'Open Sans';
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 1;
  text-decoration: none;
}

.header_title {
  font-family: 'Open Sans';
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 30px;
  opacity: 0.5;
}

.header_menu-button {
  width: 34px;
  height: 34px;
  background-color: transparent;
  z-index: 20;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.15s;
  border: none;
  outline: none;

  &--revert {
    width: 34px;
    height: 34px;
    background-color: transparent;
    transform: rotate(90deg);
    transition: transform 0.15s;
    z-index: 20;
    position: relative;
    border: none;
    outline: none;
  }
}

.header_burger-menu-item {
  width: 24px;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: white;
}

.header_slider {
  width: 100vw;
  height: 100%;
}