body {
  margin: 0;
}

#root {
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url('./public/shadow.png');
  background-color: rgb(119, 119, 119);
  background-size: cover;
}

.main_butttons-container {
  width: 100%;
  bottom: 32px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.main_text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_title {
  width: 100%;
  height: auto;
  font-family: 'Open Sans';
  font-weight: 700;
  color: rgb(61, 61, 61);
  font-size: 12vw;
  text-align: center;
  opacity: 0.5;
  margin: 0;
}

.main_button {
  width: 200px;
  height: 40px;
  margin: 10px;
  border: none;
  background-color: rgb(54, 54, 54);

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    width: 199px;
    height: 39px;  
  }
}

.main_button--title {
  width: 200px;
  height: 40px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 1;
  text-decoration: none;
}
