.slider {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 0%;
  z-index: 10;

  &--open {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
}

.slider_container {
  width: 100%;
  transition: height 0.15s;
  height: 0%;
  background: rgb(10, 29, 24);
  position: relative;
  z-index: 20;
  &--open {
    transition: height 0.15s;
    height: 100%;
    background: rgb(10, 29, 24);
  }
}

.slider_background {
  width: 50%;
  height: 100%;
  margin-left: 50%;
}

.slider_button-list {
  width: 100%;
  opacity: 0;
  transition: opacity 0.01s;
  // display: none;
  &--open {
    opacity: 1;
    transition: opacity 0.5s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    bottom: 30px;
    align-items: center;
    padding-left: 0px;
  }
}
